@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS460 HW4</h1>
    <p class="lead">A few forms and some simple server-side logic -- learning the basics of GET, POST, query strings, form data and handling it all from and ASP.NET MVC 5 app.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Mile to Metric Converter</h2>
        <p>
            Need a quick conversion for anywhere else in the world?  This calculator will take a value in miles, and let you recieve a variety of metric equevelant measurements for the distancce
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Click here! &raquo;"), "Converter", "Home", new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-6">
        <h2>Color Mixer</h2>
        <p>Not just a color chooser, but a color calculator!  Takes two color values and gives an addative combo of their values.</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Click here! &raquo;"), "Color", "Home", new { @class = "btn btn-primary" })</p>
    </div>
</div>